

body{
    background: #eee;
}
.MuiPaper-rounded{
    height: fit-content;
}
.required.MuiFormLabel-root{
    color:#f00 !important; 
}
.required.MuiInput-underline:after,
.required.MuiInput-underline:before{
    border-bottom:2px solid  #f00 !important;
    color:#f00 !important;
}